// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles

body,
html, 
.body {
    background: #f3f3f3 !important;
    padding-top: 2em;
    padding-bottom: 2em;
    font-family: 'Abel', 'Arial', sans-serif;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

.white-text {
    color: white;
}

.header-area  {
    background-color:teal;
    height:10em;
}

.header-contacts {
    color: white;
    text-align: bottom;

}

.header-contacts a {
    color: white;
    text-decoration: none;    
}

.header-sites {
    color: white;
    text-align :bottom;    
}
.header-name {
    font-size: 1.5em;
    text-align: bottom;
    color : white;
}

.header-photo {
    width: 5em;
    border-radius: 50%;
}

.header-footer  {
    background-color:teal;
}

.card-box {
    box-shadow: 10px 10px 5px #888888;
}

.column-middle {
    vertical-align: middle;
}

.column-bottom {
    vertical-align: bottom;
}

.floating-border {
    background-color: white;
    display: inline-block;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.skill-header {
    background-color : darkpink;
}

.round-icon {
    border-radius:50%;
    font-size:2em;
    padding: 10px !important;
    marging: 10px !important;    
}

a, div, p, li, h1, h2, h3, h4, h5, h6, span, th, tr, td, body, html {
    font-family: 'Abel', 'Arial', 'Mallanna', 'Mitr', 'Wire One', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight : bold;
    vertical-align: top;
}
