<div style="background-color: #FF5722;" id="education">

    <row style="height:2em;">
        <columns large="12">
            <br/>
            <!-- some head room space -->        
        </columns>
    </row>

    <row>
        <columns large="12" class="column-middle">
            <h3 class="text-center white-text">
                <span>                
                    <img src="http://i.imgur.com/Ge7xBRE.png" title="source: imgur.com"
                         class="round-icon floating-border" style="background-color:teal; width:0.3em;height:0.3em;"
                         />
                </span>
                <span style="margin-left:0.2em;vertical-align:top;font-size:1em;">Education</span>
            </h3>
        </columns>
    </row>

    <div class="floating-border"  style="margin-left:10px;margin-right:10px;">

        <row style="height:0.125em;margin-left:-10px;margin-right:-10px;">
            <columns large="12">
                <br/>
            </columns>
        </row>
        
        <row style="padding-bottom:0px;margin-bottom:0px;margin-left:-10px;margin-right:-10px;">
            <columns large="4" style="padding-bottom:0px;margin-bottom:0px;">
                M. Computer Eng.
            </columns>
            <columns large="4" style="padding-bottom:0px;margin-bottom:0px;">
                Georgia Inst. of Tech.
            </columns>
            <columns large="4" style="padding-bottom:0px;margin-bottom:0px;">
                <p class="text-right">1998-2004</p>
            </columns>
        </row>

        <row style="padding-bottom:0px;margin-bottom:0px;margin-left:-10px;margin-right:-10px;">
            <columns large="4" style="padding-bottom:0px;margin-bottom:0px;">
                M. Computer Eng.
            </columns>
            <columns large="4" style="padding-bottom:0px;margin-bottom:0px;">
                University of Michigan
            </columns>
            <columns large="4" style="padding-bottom:0px;margin-bottom:0px;">
                <p class="text-right">1997-1998</p>
            </columns>
        </row>

        <row style="padding-bottom:0px; margin-bottom:0px;margin-left:-10px;margin-right:-10px;">
            <columns large="4" style="padding-bottom:0px;padding-bottom:0px;">
                B. Electrical Eng.
            </columns>
            <columns large="4" style="padding-bottom:0px;padding-bottom:0px;">
                McGill University
            </columns>
            <columns large="4" style="padding-bottom:0px;padding-bottom:0px;">
                <p class="text-right">1992-1997</p>
            </columns>
        </row>

        <spacer size="16"></spacer>
    </div>

    <spacer size="32"></spacer>
    
</div>
