<div id="education">

    <div>
        <row style="height:1em;"></row>

        <row>
            <columns large="12" class="column-middle" style="padding-bottom:0px !important;" >
                <h3 class="text-center white-text">
                    <span>                
                        <img src="http://i.imgur.com/Ge7xBRE.png" title="source: imgur.com"
                             class="round-icon" style="background-color:#FF5722; width:0.3em;height:0.3em;display:inline-block;"
                             />
                    </span>
                    <span style="margin-left:0.2em;vertical-align:top;font-size:1em;">Education</span>
                </h3>
            </columns>
        </row>
    </div>
    
    <div class="floating-border"  style="margin-left:10px;margin-right:10px;">

        <row style="height:2em;"></row>        
        
        <row style="padding-bottom:0px;">
            <columns large="4">
                <div>
                    <h5><span style="background-color:#FF5722;color:white;padding-left:0.5em;padding-right:0.5em;">M</span> Comp. Eng.</h5>
                </div>
            </columns>
            <columns large="4">
                <div>
                    <p style="padding-top:0.25em;">Georgia Inst. of Tech.</p>
                </div>
            </columns>
            <columns large="4">
                <div>
                    <p class="text-right" style="padding-top:0.25em;">1998-2004</p>
                </div>
            </columns>
        </row>

        <row style="padding-bottom:0px;">
            <columns large="4">
                <div>
                    <h5><span style="background-color:#FF5722;color:white;padding-left:0.5em;padding-right:0.5em;">M</span> Comp. Eng.</h5>
                </div>
            </columns>
            <columns large="4">
                <div>
                    <p style="padding-top:0.25em;">University of Michigan</p>
                </div>
            </columns>
            <columns large="4">
                <div>
                    <p class="text-right" style="padding-top:0.25em;">1997-1998</p>
                </div>
            </columns>
        </row>

        <row style="padding-bottom:0px;">
            <columns large="4">
                <div>
                    <h5><span style="background-color:#FF5722;color:white;padding-left:0.5em;padding-right:0.5em;">B</span> Elect. Eng.</h5>
                </div>
            </columns>
            <columns large="4">
                <div>
                    <p style="padding-top:0.25em;">McGill University</p>
                </div>
            </columns>
            <columns large="4">
                <div>
                    <p class="text-right" style="padding-top:0.25em;">1992-1997</p>
                </div>
            </columns>
        </row>

        <spacer size="16"></spacer>
    </div>

    <spacer size="32"></spacer>
    
</div>
