<div id="experiences">

    <row styl="margin:0px;padding:0px;">
        <columns large="12" class="column-middle">

            <h3 class="text-center white-text" >
                <span>
                    <img src="http://i.imgur.com/wmFvYp0.png" title="source: imgur.com"
                         class="round-icon" style="background-color:teal; width:0.3em;height:0.3em;display:inline-block;"
                         />
                </span>
                
                <span style="margin-left:0.2em;vertical-align:top;font-size:1em;">Experience</span>
            </h3>
        </columns>
    </row>

    <div class="floating-border" style="margin-left:10px;margin-right:10px;margin-top:0px;">

        <row style="background-color:#1565C0;height:1em;"></row>
        
        <row style="background-color:#1565C0;">
            <columns size="4">
                <h5 class="white-text">Software Eng</h5>
            </columns>
            <columns size="4">
                <h5 class="white-text">Hack Reactor</h5>
            </columns>
            <columns size="2">
                <p class="white-text" style="padding-top:0.4em;">San Francisco, CA</p>
            </columns>
            <columns size="2">
                <p class="white-text" class="text-right" style="padding-top:0.4em;">07.2016-10.2016</p>
            </columns>
        </row>

        <row style="height:0.6em;"></row>
        
        <row>
            <columns>
                <ul>
                    <li>Completed various MEAN/MERN full stack app projects at hack reactor, node.js, express.js, angular.js,
                        mongodb, as well as react.js, where are used in projects listed belows.</li>
                    <li>Created Future Insight App for school tour for future-insight.herokuapp.com</li>
                    <li>Created Git Central App to analyze git commits histories. Git-central.herokuapp.com</li>
                    <li>Created Mongo Databases for all app, on mlab for deploy and localhost for debug.</li>
                    <li>Defined the node server, express routing middlewares, HTTP RESTful API/Routes to crud mongo
                        database between back end server app and front end web app.</li>
                    <li>Developed mocha and chai test suit to ensure data model is properly defined and used.</li>
                    <li>Incorporated various frontend frameworks, angular, react, redux, polymer, material, ajax, async
                        callback, and promise http request.</li>
                    <li>Designed an efficient algorithms to improve speed and completeness of github api.</li>
                    <li>Debugged troubles issues with heroku deployment, server restful api, package versioning.</li>
                    <li>Using python flask server to handle static files, and bootstrap restful api server.</li>

                </ul>
            </columns>
        </row>
    </div>

    <spacer size="32"></spacer>

    <div class="floating-border" style="margin-left:10px;margin-right:10px;">

        <row style="background-color:#1565C0;height:2em;"></row>        

        <row style="background-color:#1565C0;">
            <columns size="4">
                <h5 class="white-text">Sr R&amp;D Eng</h5>
            </columns>
            <columns size="4">
                <h5 class="white-text">Ausdia</h5>
            </columns>
            <columns size="2">
                <p class="white-text" style="padding-top:0.4em;">Sunnyvale, CA</p>
            </columns>
            <columns size="2">
                <p class="white-text" class="text-right" style="padding-top:0.4em;">12.2013-12.2015</p>
            </columns>
        </row>

        <row style="height:0.6em;"></row>
        <row>
            <columns>
                <ul>
                    <li>Developed on constraint coverage analysis of various inconsistent condition, absent associated
                        constraint specification.</li>
                    <li>Developed multi thread SDC constraint analysis, diagnostic, optimization of clock network.</li>
                    <li>Developed multi-thread min cut partition to balance random parallel functional simulation.</li>
                    <li>improved 10x run-time performance for debug_rule facilities for over 100 type of validations.</li>
                    <li>Developed new feature, multimode check (multiple constraint scenarios, different set of clocks,
                        constant, disable, false paths, clock sense, clock group, etc.,)</li>
                    <li>Developed new feature sdc lint check, a super lint for SDC constraint lint checking with a lightweight
                        and coherent semantic check against net-list and user and library constraints.</li>
                    <li>Developed new feature scan chain check, load DFT scan chains from LEF/DEF file, and check for lockup latch issues.</li>
                    <li>Developed new feature constraints merge, across multiple scenarios, transform, insert, or duplicated
                        constraints among different constraints from different scenarios.</li>
                    <li>Addressed customers issue such as diagnose performance, feature requests, and worked closely with
                        product application engineers.</li>
                    <li>Used python for regression result processing and run flask http server (backend) to deliver data driven
                        regression web frontend running bootstrap and d3.</li>
                </ul>
            </columns>
        </row>
    </div>

    <spacer size="32"></spacer>

    <div class="floating-border" style="margin-left:10px;margin-right:10px;">

        <row style="background-color:#1565C0;height:2em;"></row>       

        <row style="background-color:#1565C0;">
            <columns size="4">
                <h5 class="white-text">Sr R&amp;D Eng</h5>
            </columns>
            <columns size="4">
                <h5 class="white-text">Lorentz Sol.</h5>
            </columns>
            <columns size="2">
                <p class="white-text" style="padding-top:0.4em;">Sunnyvale, CA</p>
            </columns>
            <columns size="2">
                <p class="white-text" class="text-right" style="padding-top:0.4em">02.2013-11.2013</p>
            </columns>
        </row>

        <row style="height:0.6em;"></row>        
        <row>
            <columns>
                <ul>
                    <li> wrote spice parser in python and lex/yacc, ast, and perform syntax direct translation </li>
                    <li>Reduced lot of bugs of a product, high frequency design, by a net-centric mini layout-vs-schematic,
                        where high performance done in C++ via PySide.</li>
                    <li>Improved infrastructure for calbire svdb cci interface (library components, netlist, and gdsii)</li>
                    <li>improved runtime performance, 10x faster, compiler/compiler modular approach for easy maintain
                        and self contained nose/pytest unit test case. </li>
                    <li> Supported AE customers, demo, software installation, and documentation </li>
                    <li> Created spice python parser, ast, and code generator.</li>
                    <li> Fixed Qt user interface bug, in dialog, shell interface, layout, event handling done in PyQt.</li>
                    <li> Rewrite mission critical net-centric mini lvs to delivery 10x faster run time.</li>
                </ul>
            </columns>
        </row>
    </div>

    <spacer size="32"></spacer>

    <div class="floating-border" style="margin-left:10px;margin-right:10px;">

        <row style="background-color:#1565C0;height:2em;"></row>

        <row style="background-color:#1565C0;">
            <columns size="4">
                <h5 class="white-text">Software Eng</h5>
            </columns>
            <columns size="4">
                <h5 class="white-text">Nebulian Tech.</h5>
            </columns>
            <columns size="2">
                <p class="white-text" style="padding-top:0.4em;">San Jose, CA</p>
            </columns>
            <columns size="2">
                <p class="white-text" class="text-right" style="padding-top:0.4em;">08.2012-01.2013</p>
            </columns>
        </row>

        <row style="height:0.6em;"></row>        
        <row>
            <columns>
                <ul>
                    <li>Developed two iOS app for meetloop.com and taotaomom.com</li>
                    <li>Integrated Core Data (multi thread), MapKit, RestKit, ShareKit, Three20, XMPP.</li>
                    <li>Developed Django web site using models, views, templates</li>
                    <li>Developed iOS mobile app with XCode and Django Web, meetloop.com &amp; taotaomom.com</li>
                    <li>Integrated various frameworks, Core Data (multi thread), MapKit, RestKit, ShareKit, Three20, XMPP (multi thread), WireShark</li>
                    <li>Managed servers such as OpenFire jabber, MySql, OAuth2, and Apache.</li>
                    <li>Developed Django web site using models, views, templates, with forms using Firebug, jQuery, and JavaScripts.</li>

                </ul>
            </columns>
        </row>
    </div>

    <spacer size="32"></spacer>

    <div class="floating-border" style="margin-left:10px;margin-right:10px;">

        <row style="background-color:#1565C0;height:2em;"></row>
      
        <row style="background-color:#1565C0;">
            <columns size="4">
                <h5 class="white-text">Sr R&amp;D Eng I</h5>
            </columns>
            <columns size="4">
                <h5 class="white-text">Synopsys Inc</h5>
            </columns>
            <columns size="2">
                <p class="white-text" style="padding-top:0.4em;">Mountain View</p>
            </columns>
            <columns size="2">
                <p class="white-text" class="text-right" style="padding-top:0.4em;">08.2006-07.2012</p>
            </columns>
        </row>

        <row style="height:0.6em;"></row>        
        <row>
            <columns>
                <ul>
                    <li>Developed Memory Pool Manager, System Verilog transpiler</li>
                    <li>Developed emacs/elisp regression and analysis major and minor mode suites.</li>
                    <li>Maintained Verilog, System Verilog, Qt, spice, and system task function.</li>
                    <li>Enhanced ESP and Formality-ESP performance, fixed bugs</li>
                </ul>
            </columns>
        </row>
    </div>

    <spacer size="32"></spacer>

    <div class="floating-border" style="margin-left:10px;margin-right:10px;">

        <row style="background-color:#1565C0;height:2em;"></row>
      
        <row style="background-color:#1565C0;">
            <columns size="4">
                <h5 class="white-text">Software Eng</h5>
            </columns>
            <columns size="4">
                <h5 class="white-text">LSI Logic</h5>
            </columns>
            <columns size="2">
                <p class="white-text" style="padding-top:0.4em;">Milpitas, CA</p>
            </columns>
            <columns size="2">
                <p class="white-text" class="text-right" style="padding-top:0.4em;">06.2004-08.2006</p>
            </columns>
        </row>

        <row style="height:0.6em;"></row>        
        <row>
            <columns>
                <ul>
                    <li>Developed a static timing analysis (STA) tool, in which I wrote function evaluation, logic propagation techniques using boost.</li>
                    <li>Developed a SDF parser in lex, yacc, and C++ STL.</li>
                    <li>Built the SDC tcl interface using SWIG (script wrapper interface generator).</li>
                    <li>Integrated the Verilog Cheetah reader in lsista (LSI STA).</li>
                    <li>Developed a Power modeling engine which made use of probability propagation of signals, accounting for the function information of cells.</li>
                    <li>Developed an electro-static discharge (ESD) Analysis Engine using asymptotic waveform evaluation (AWE).</li>
                    <li>Developed a function-covering program to determine arc completeness of cell libraries.</li>
                    <li>Developed fast reachability (dominating) and root-first-visit algorithm.</li>
                    <li>Developed C/C++ SDC parser with lex, yacc, and boost for static timing analysis.</li>
                    <li>Developed an electro-static discharge (ESD) Analysis Engine &amp; Power modeling engine.</li>
                </ul>
            </columns>
        </row>
        
    </div>

    <spacer size="32"></spacer>

</div>

