<div style="background-color: #424242;">

    <row style="height:2em;">
        <columns large="12">
            <br/>
        </columns>
    </row>

    <row>
        <columns large="12">
            <center>
                <div>
                    <!--
                    <span><i class="fa fa-smile-o" aria-hidden="true" style="font-size:1.8em;color:white;vertical-align:center;"></i></span>
                    -->
                    <!-- 
                    <span><img src="http://i.imgur.com/UJL9tTq.png" title="source: imgur.com"
                               /></span>
                    -->
                    <!--
                    <span class="text-center" style="margin-left:0.2em;color:white;font-size:2em;">2017, {{name}}</span>
                    -->
                </div>
            </center>
        </columns>
    </row>   


    <row>
        <columns large="12" class="column-midlle">
            <center>
                <div style="">
                    <span>
                        <a href="tel:{{phone}}" id="phone">
                            <img src="http://i.imgur.com/OV2pUUe.png" title="source: imgur.com"
                                 class="round-icon floating-border" style="background-color:darkgreen; width:1em;height:1em;vertical-align:middle;"
                                 />
                        </a>
                    </span>
                    
                    <span style="margin-right:0.6em;"></span>

                    <span>
                        <a>
                            <img src="http://i.imgur.com/rSyBtj2.jpg" title="source: imgur.com"
                                 class="round-icon floating-border" style="width:1em;height:1em;vertical-align:middle;background-color:#78909C;"/>
                        </a>
                    </span>
                    
                    <span style="margin-right:0.6em;"></span>
                    
                    <span>
                        <a href="mailto:{{email}}" id="email">
                            <img src="http://i.imgur.com/1SaTDZs.png" title="source: imgur.com"
                                 class="round-icon floating-border" style="background-color:#C2185B; width:1em;height:1em;vertical-align:middle;"
                                 />
                        </a>
                    </span>
                </div>
            </center>
        </columns>
    </row>
    
    <spacer size="32"></spacer>

</div>
