<div id="header">

    <row class="header-area" style="height:2em;">
        <columns large="12">
            <br/>
            <!-- some head room space -->        
        </columns>
    </row>

    <row class="header-area">

        <columns large="4" class="column-middle">
            <center class="header-contacts white-text">
                <div class="text-center">
                    <a href="mailto:{{email}}">
                        {{email}}
                    </a>
                </div>
                
                <spacer size="8"></spacer>
                
                <div class="text-center">
                    <a href="tel:{{phone}}">
                        {{phone}}
                    </a>
                </div>
            </center>
        </columns>

        <columns large="4" class="column-middle">
            <center>
                <a style="cursor:default;">
                    <img src="http://i.imgur.com/kmlU4Ds.jpg" title="source: imgur.com" class="header-photo"/>
                </a>
                <spacer size="8"></spacer>                
                <div class="header-name">{{name}}</div>
            </center>
        </columns>

        <columns large="4" class="column-middle">
            <center class="white-text header-contacts">
                <div>
                    <a href="https://www.{{linkedin}}">
                        {{linkedin}}
                    </a>
                </div>
                <spacer size="8"></spacer>                
                <div>
                    <a href="https://www.{{github}}">
                        {{github}}
                    </a>
                </div>            
            </center>
        </columns>

    </row>

    <row style="background-color:white;">
        <columns large="12" style="margin-left:1em; margin-right:1em;margin-bottom:1em;">
        </columns>
    </row>

    <row style="background-color:white;box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.14);">

        <columns large="12" class="column-middle">
            <center class="white-text header-contacts">

                <a href="tel:{{phone}}" style="font-size:1.25em;">
                    <img src="http://i.imgur.com/OV2pUUe.png" title="source: imgur.com"
                         class="round-icon floating-border" style="background-color:darkgreen; width:0.5em;height:0.5em;"
                         />
                </a> 

                <span style="margin-right:0.1em;"></span>

                <a href="mailto:{{email}}" style="font-size:1.25em;">
                    <img src="http://i.imgur.com/1SaTDZs.png" title="source: imgur.com"
                         class="round-icon floating-border" style="background-color:#C2185B; width:0.5em;height:0.5em;"
                         />
                </a>
                <span style="margin-right:0.1em;"></span>

                <a href="#skills">
                    <img src="http://i.imgur.com/lvfWP2R.png" title="source: imgur.com"
                         class="round-icon floating-border" style="background-color:#FFC107; width:0.6em;height:0.6em;"
                         />
                </a>
                <span style="margin-right:0.1em;"></span>
                <a href="#experiences">
                    <img src="http://i.imgur.com/wmFvYp0.png" title="source: imgur.com"
                         class="round-icon floating-border" style="background-color:#1565C0; width:0.6em;height:0.6em;"                         
                         />
                </a>
                <span style="margin-right:0.1em;"></span>
                <a href="#education">
                    <img src="http://i.imgur.com/Ge7xBRE.png" title="source: imgur.com"
                         class="round-icon floating-border" style="background-color:#FF5722; width:0.6em;height:0.6em;"                                                  
                         />
                </a>
                <span style="margin-right:0.1em;"></span>

                <a href="https://www.{{linkedin}}">
                    <img src="http://i.imgur.com/argIcY7.png" title="source: imgur.com"
                         class="round-icon floating-border" style="background-color:#00BCD4; width:0.6em;height:0.6em;"
                         />
                </a>
                
                <span style="margin-right:0.1em;"></span>
                <a href="https://www.{{github}}">
                    <img src="http://i.imgur.com/qU3mKJ0.png" title="source: imgur.com"
                         class="round-icon floating-border" style="background-color:#37474F; width:0.6em;height:0.6em;"                     
                         />
                </a>
            </center>
        </columns>
    </row>

</div>
