<div id="skills">

    <div>
        <row style="height:1em;padding:0px;margin:0px;"></row>
        
        <row style=";padding-top:0px;margin-top:0px;">
            <columns large="12" class="column-middle" style="padding-bottom:0px !important;">
                
                <h3 class="text-center white-text">
                    <span>
                        <img src="http://i.imgur.com/lvfWP2R.png" title="source: imgur.com"
                             class="round-icon" style="background-color:#FFC107; width:0.3em;height:0.3em;display:inline-block;"
                             />
                    </span>
                    <span style="margin-left:0.2em;vertical-align:top;font-size:1em;">Software</span>
                </h3>
            </columns>
        </row>
    </div>
    
    <div class="floating-border" style="margin-left:10px;margin-right:10px;">

        <row style="height:2em;"></row>

        <row >
            <columns large="4">
                <center>
                    <h5 style="color:white;background-color:#FFC107;padding-left:0.5em;">Web Technologies</h5>
                    <p>react, redux, angular, ionic, polymer, node, express, 
                        mongoose, bcrypt, request, jquery, bootstrap, foundation, inky, commander, bcrypt,
                        material-ui, d3, cytoscape, underscore, leaflet, mapbox, sequelize,
                        oauth, passport, html, css, javascript, material design,
                        python, flask, django, iOS</p>
                </center>
            </columns>
            
            <columns large="4">
                <center>
                    <h5 style="color:white;background-color:#FFC107;padding-left:0.5em;">Tools</h5>

                    <p>webpack, grunt, gulp, npm, bower, curl, babel, systemjs,
                        httpie, atom, sublime, emacs, xcode, live-server, lite-server, browser-sync,
                        json-server, chrome dev tool, restclient</p>
                    <h5 style="color:white;background-color:#FFC107;padding-left:0.5em;">Database</h5>
                    
                    <p>nosql, mongo, couchdb, pouchdb, sql, sqlite, postgres, mysql</p>
                </center>
            </columns>
            
            <columns large="4">
                <center>
                    <div>
                        <h5 style="color:white;background-color:#FFC107;padding-left:0.5em;">Issue Tracking</h5>

                        <p>trello, bugzilla, github, gitlab, gitlab-ci, travis-ci,
                            mocha, chai, jasmine, karma, supertest, sinon, nightwatch</p>
                    </div>
                    <div>
                        <h5 style="color:white;background-color:#FFC107;padding-left:0.5em;">Version Control</h5>
                        <p>git, p4, cvs, rcs, subversion</p>
                    </div>
                    <div>
                        <h5 style="color:white;background-color:#FFC107;padding-left:0.5em;">Web Services</h5>
                        <p>heroku, docker, firebase, mlab, aws ec2, ecs</p> asfdad
                    </div>
                </center>
            </columns>
        </row>
        
        <spacer size="4"></spacer>
        
    </div>

    <spacer size="32"></spacer>

</div>
