<div style="background-color:#FFC107;" id="skills">

    <row style="height:2em;">
        <columns large="12">
            <br/>
            <!-- some head room space -->        
        </columns>
    </row>
    
    <row>
        <columns large="12" class="column-middle">
            
            <h3 class="text-center white-text">
                <span>
                    <img src="http://i.imgur.com/lvfWP2R.png" title="source: imgur.com"
                         class="round-icon floating-border" style="background-color:teal; width:0.3em;height:0.3em;"
                         />
                </span>
                <span style="margin-left:0.2em;vertical-align:top;font-size:1em;">Skills</span>
            </h3>
        </columns>
    </row>

    <div class="floating-border" style="margin-left:10px;margin-right:10px;">

        <row style="height:0.125em;margin-left:-10px;margin-right:-10px;">
            <columns large="12">
                 <br/>
                <!-- some head room space -->        
            </columns>
        </row>
        
        <row style="margin-left:10px;margin-right:10px;margin-left:-10px;margin-right:-10px;">
            <columns large="4">
                <center>
                    <h5>Web Technologies</h5>
                    <hr/>                
                    <p>react, redux, angular, ionic, polymer, node, express,
                        mongoose, bcrypt, request, jquery, bootstrap, foundation,
                        material-ui, d3, cytoscape, underscore, leaflet, mapbox,
                        oauth, passport, html, css, javascript, material design,
                        python, flask, django, iOS</p>
                </center>
            </columns>
            
            <columns large="4">
                <center>
                    <h5 >Tools</h5>
                    <hr/>                                
                    <p>webpack, grunt, gulp, npm, bower, curl, babel, systemjs,
                        httpie, atom, sublime, emacs, xcode, live-server, lite-server,
                        json-server, chrome dev tool, restclient</p>
                    <h5 >Database</h5>
                    <hr/>                
                    <p>mongo, sqlite, postgres, mysql, sql, json, couchdb, pouchdb</p>
                </center>
            </columns>
            
            <columns large="4">
                <center>
                    <div>
                        <h5>Issue Tracking</h5>
                        <hr/>                
                        <p>trello, bugzilla, github, gitlab, gitlab-ci, travis-ci,
                            mocha, chai, jasmine, karma, supertest, sinon, nightwatch</p>
                    </div>
                    <div>
                        <h5>Version Control</h5>
                        <hr/>                
                        <p>git, p4, cvs, rcs, subversion</p>
                    </div>
                    <div>
                        <h5>Web Services</h5>
                        <hr/>                
                        <p>heroku, docker, firebase, mlab, aws ec2, ecs</p>
                    </div>
                </center>
            </columns>
        </row>
        
        <spacer size="16"></spacer>
        
    </div>

    <spacer size="32"></spacer>

</div>
